@page
@model exe201.Pages.Admin.Orders.DeleteModel

@{
    ViewData["Title"] = "Delete Order";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="container mt-4">
    <div class="card shadow-sm border-danger">
        <div class="card-header bg-danger text-white">
            <h2 class="mb-0">Xóa sản phẩm</h2>
        </div>
        <div class="card-body">
            <h3 class="text-center text-danger">Bạn có chắc là bạn muốn xóa đơn đặt hàng này?</h3>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">Tên người mua:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Order.User.Username)</dd>
                <dt class="col-sm-3 font-weight-bold">Email:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Order.User.Email)</dd>

                <dt class="col-sm-3 font-weight-bold">Tổng đơn hàng:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Order.TotalAmount)</dd>

                <dt class="col-sm-3 font-weight-bold">Ngày tạo:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Order.CreatedAt)</dd>

                <dt class="col-sm-3 font-weight-bold">Trạng thái:</dt>
                <dd class="col-sm-9">
                    <span class="badge badge-pill
                        @(Model.Order.Status == "Pending" ? "badge-warning" :
                        Model.Order.Status == "Shipped" ? "badge-info" :
                        Model.Order.Status == "Completed" ? "badge-success" :
                        "badge-danger")">
                        @Html.DisplayFor(model => model.Order.Status)
                    </span>
                </dd>
            </dl>
        </div>
    </div>

    <div class="text-center mt-4">
        <form method="post">
            <input type="hidden" asp-for="Order.Id" />
            <button type="submit" class="btn btn-danger btn-lg">Xóa</button>
            <a asp-page="./Index" class="btn btn-secondary btn-lg ml-3">Hủy</a>
        </form>
    </div>
</div>